.button {
  transition: all 0.3s ease-in-out;

  &__size {
    &__xs {
      height: rem(20px);
      padding: rem(1px) rem(6px);
      font-size: var(--fs-xs);
      border-radius: rem(2px);
      @include text-xs;
    }

    &__sm {
      height: rem(24px);
      padding: rem(2px) rem(8px);
      font-size: var(--fs-sm);
      border-radius: rem(4px);
      @include text-sm;
    }

    &__base {
      height: rem(32px);
      padding: rem(4px) rem(15px);
      font-size: var(--fs-base);
      border-radius: rem(6px);
    }

    &__md {
      height: rem(40px);
      padding: rem(6px) rem(24px);
      font-size: var(--fs-md);
      border-radius: rem(8px);
      @include text-md;
    }

    &__lg {
      height: rem(50px);
      padding: rem(8px) rem(32px);
      font-size: var(--fs-lg);
      border-radius: rem(10px);
      @include text-lg;
    }
  }

  &__color {
    &__primary {
      background-color: var(--color-primary);
      color: var(--color-light);

      &:hover {
        color: var(--color-light);
      }
    }

    &__secondary {
      background-color: var(--color-secondary);
      color: var(--color-light);
    }

    &__dark {
      background-color: var(--color-dark);
      color: var(--color-light);
    }

    &__light {
      background-color: var(--color-light);
      color: var(--color-black);
    }

    &__danger {
      background-color: var(--color-danger);
      color: var(--color-black);
    }

    &__warning {
      background-color: var(--color-warning);
      color: var(--color-black);
    }

    &__success {
      background-color: var(--color-success);
      color: var(--color-black);
    }

    &__info {
      background-color: var(--color-info);
      color: var(--color-light);
    }
  }

  &__variant {
    &__outline {
      background-color: transparent;
      border: rem(1px) solid var(--color-light);
    }

    &__plain {
      background-color: transparent;

      &:hover {
        color: var(--color-primary);
      }
    }

    &__solid {
      border: none;
    }
  }

  &__icon {
    border-radius: 50%;
    padding: rem(10px);
  }

  &:hover {
    filter: brightness(0.8);
  }
}
