$scroll-width: rem(2px);

.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 21;
  width: calc(rem(52px) + $scroll-width);
  padding: rem(10px);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-light);
  box-shadow: 0 0 rem(20px) rgba(0, 0, 0, 0.1);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: $scroll-width;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: rem(10px);
    background: var(--color-primary);
  }

  &:hover {
    width: calc(rem(240px) + $scroll-width);
  }

  .logo {
    width: 100%;
    height: rem(42px);
    padding-bottom: rem(10px);
    margin-bottom: rem(40px);
    display: flex;
    justify-content: center;
  }

  .title {
    width: 100%;
    margin-bottom: rem(5px);
  }

  .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(10px);
    margin-bottom: rem(20px);
  }
}
