.searchBox {
  position: relative;
  width: 100%;

  .form {
    width: 100%;

    .inputWrapper {
      position: relative;

      .input {
        border-radius: rem(25px);
        border: rem(1px) solid var(--color-light);
        background-color: var(--color-dark);
        width: 100%;
        height: rem(32px);
        padding: rem(4px) rem(15px);
        font-size: var(--fs-base);
        color: var(--color-light);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__result {
    width: 100%;
    max-height: 0;
    padding: 0;
    overflow-y: auto;
    border-radius: rem(10px);
    background-color: var(--color-dark);
    position: absolute;
    top: calc(100% + rem(10px));
    box-shadow: 0 rem(8px) rem(40px) rem(0px) rgba(0, 0, 0, 0.4);
    transition:
      opacity 0.3s ease-in-out,
      max-height 0.3s ease-in-out,
      padding 0s 0.3s;

    &__show {
      padding: rem(10px);
      opacity: 1;
      max-height: rem(600px);
      transition:
        opacity 0.3s ease-in-out,
        max-height 0.3s ease-in-out,
        padding 0s 0s;
    }
  }
}
