.container {
  &__img {
    width: rem(80px) !important;
    // height: rem(90px) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__drag {
    height: rem(200px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}
