.card {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: rem(8px);
  overflow: hidden;
  background-color: var(--color-light);
  box-shadow: 0 0 rem(10px) rgba(0, 0, 0, 0.1);

  &__tag {
    position: absolute;
    top: rem(5px);
    left: rem(5px);
    z-index: 1;
    @include flex-center;
    backdrop-filter: blur(2px);
    padding: 0 rem(5px);
    height: rem(24px);
    border-radius: rem(8px);
    background-color: var(--color-primary);
  }

  &__bookmark {
    position: absolute;
    top: rem(5px);
    right: rem(5px);
    z-index: 1;
    @include flex-center;
    backdrop-filter: blur(2px);
    width: rem(24px);
    height: rem(24px);
    padding: rem(2px);
    color: var(--color-black);
    background-color: rgba(255, 255, 255, 0.8);

    &__active {
      background-color: var(--color-primary);
      color: var(--color-light);
    }
  }

  &__coverContainer {
    position: relative;
    width: 100%;
    height: 90%;
  }

  &__title {
    width: 100%;
    height: 10%;
    padding: 0 rem(10px);
    display: flex;
    align-items: center;
  }
}
